.form-wrapper {
    max-width: 300px;
}

.form-style {
    max-width: 48rem;
}

@media only screen and (max-width: 867px)  {
    .form-style {
        max-width: 10rem;
    }
    .submit-btn {
        margin-left: 4rem;
        margin-top: 10px;
        
    }
    /* .form-wrapper{
        max-width: ;
    } */
    .demo-block {
      margin-left: 9rem;

    }
}